html {
	height: 100%;
	overflow: hidden;
}
body {
	margin: 0;
	background-color: #333;
	font-family: Tahoma, Arial, sans-serif;
	color: #fff;
	height: 100%;
	line-height: 1.2;
}
a {
	text-decoration: none;
	color: #fff;
}
/* - Fonts - */
@font-face { font-family: 'QuicksandRegular'; src: url('/assets/fonts/quicksand/Quicksand-Regular.otf') format('opentype'); }
@font-face { font-family: 'QuicksandLight'; src: url('/assets/fonts/quicksand/Quicksand-Light.otf') format('opentype'); }
@font-face { font-family: 'QuicksandBold'; src: url('/assets/fonts/quicksand/Quicksand-Bold.otf') format('opentype'); }
@font-face { font-family: 'CaviarDreams'; src: url('/assets/fonts/caviardreams/CaviarDreams.ttf') format('truetype'); }
@font-face { font-family: 'CaviarDreamsBold'; src: url('/assets/fonts/caviardreams/CaviarDreams_Bold.ttf') format('truetype'); }
@font-face {
    font-family: 'CodeProRegular';
    src: url('/assets/fonts/codepro/regular/Code_Pro_Demo-webfont.eot');
    src: url('/assets/fonts/codepro/regular/Code_Pro_Demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/codepro/regular/Code_Pro_Demo-webfont.woff2') format('woff2'),
         url('/assets/fonts/codepro/regular/Code_Pro_Demo-webfont.woff') format('woff'),
         url('/assets/fonts/codepro/regular/Code_Pro_Demo-webfont.ttf') format('truetype'),
         url('/assets/fonts/codepro/regular/Code_Pro_Demo-webfont.svg#code_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CodeProLight';
    src: url('/assets/fonts/codepro/light/Code_Pro_Light_Demo-webfont.eot');
    src: url('/assets/fonts/codepro/light/Code_Pro_Light_Demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/codepro/light/Code_Pro_Light_Demo-webfont.woff2') format('woff2'),
         url('/assets/fonts/codepro/light/Code_Pro_Light_Demo-webfont.woff') format('woff'),
         url('/assets/fonts/codepro/light/Code_Pro_Light_Demo-webfont.ttf') format('truetype'),
         url('/assets/fonts/codepro/light/Code_Pro_Light_Demo-webfont.svg#code_pro_light_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* - end Fonts - */

/* - ngShow - */
.animate-show {
	opacity: 1;
	min-height: 100px;
	-webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
/* - end ngShow - */

/* - My Globals - */
.myApp-nav {
	position: fixed;
	width: 100%;
	z-index: 1;
}
.myApp-nav ul {
	list-style: none;
}
.myApp-nav ul li {
	display: inline-block;
}
.myApp-view {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	background: #111;
	z-index: 2;
	box-shadow: 2px 0 30px #000;
}
.container {
	height: 100%;
	margin: 0 auto;
	text-align: center;
	-webkit-transition: transform 1s;
	-moz-transition: transform 1s;
	-ms-transition: transform 1s;
	transition: transform 1s;
}
.container.stimuli {
	overflow: scroll;
}
.container.stimuli::-webkit-scrollbar {
	width: 0;
}
.vertical-align-wrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	overflow-x: visible;
}
.horizontal-align-wrapper {
	width: 50%;
	margin: 0 auto;
}
.nav-home {
	background: #000;
}

.nav-search {
	background: #8000FF;
}

.nav-stimuli {
	background: #0080FF;
}
.navigator {
	position: absolute;
	width: 100%;
	height: 45px;
	padding: 0;
	z-index: 1;
}
.navigator a {
	display: block;
	width: 80px;
	height: 100%;
	margin: 0 auto;
	font-family: 'QuicksandRegular';
}
.navigator.top-align-wrapper {
	top: 0;
	padding: 0 0 15px 0;
}
.stimuli .navigator.top-align-wrapper {
	background-color: #0080FF;
}
.navigator.bottom-align-wrapper {
	bottom: 0;
}
.navigator.bottom-align-wrapper a {
	border-radius: 5em 5em 0 0;
	line-height: 3.5em;
}
.navigator.top-align-wrapper a {
	border-radius: 0 0 5em 5em;
	line-height: 2em;
}
/* ANIMATIONS
============================================================================= */
/* scale up */
@keyframes scaleDown {
	from 		{ opacity: 0; }
}
@-moz-keyframes scaleDown {
	from 		{ opacity: 0; }
}
@-webkit-keyframes scaleDown {
	from 		{ opacity: 0; }
}
/* scale down */
@keyframes scaleUp {
	to 		{ opacity: 0; }
}
@-moz-keyframes scaleUp {
	to 		{ opacity: 0; }
}
@-webkit-keyframes scaleUp {
	to 		{ opacity: 0; }
}
.ng-animate.ng-enter { 
	z-index: 8888; 
}
.ng-animate.ng-leave { 
	z-index: 9999; 
}
.ng-leave {
	-webkit-animation:scaleUp 0.5s both ease-in;
	-moz-animation:scaleUp 0.5s both ease-in;
	animation:scaleUp 0.5s both ease-in;     
}
.ng-enter {
	-webkit-animation:scaleDown 0.5s both ease-in;
	-moz-animation:scaleDown 0.5s both ease-in;
	animation:scaleDown 0.5s both ease-in;  
}
/* - end My Globals - */

/* - Home - */
@-webkit-keyframes tieAdjust {
	0% { -webkit-transform: rotate(5deg); }
	10% { -webkit-transform: rotate(3deg); }
	20% { -webkit-transform: rotate(0deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(-3deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(-5deg); }
	50% { -webkit-transform: translate(2px, 1px) rotate(-2deg); }
	60% { -webkit-transform: translate(1px, 0px) rotate(0deg); }
	70% { -webkit-transform: translate(0px, 0px) rotate(2deg); }
	80% { -webkit-transform: rotate(3deg); }
	90% { -webkit-transform: rotate(1deg); }
	100% { -webkit-transform: rotate(0deg); }
}
.home .horizontal-align-wrapper:hover .hat{
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
}
.home .horizontal-align-wrapper:hover .tie {
	-webkit-animation-name: tieAdjust;
	-webkit-animation-duration: 0.5s;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-iteration-count: 2s;
	-webkit-animation-timing-function: linear;
}
.home .hat {
	position: relative;
	width: 120px;
	height: 76px;
	margin: 0 auto;
	background: url(/assets/imgs/bowler-hat.png) no-repeat 50% 50%;
	background-size: cover;
}
.home .name {
	display: inline-block;
	border-bottom: 1px solid white;
	font-size: 3em;
	font-family: 'CaviarDreams';
}
.home .occupation {
	display: block;
	margin-top: 0.2em;
	font-size: 0.95em;
	font-family: 'QuicksandLight';
}
.home .tie {
	position: relative;
	width: 40px;
	height: 23px;
	margin: 10px auto 0;
	background: url(/assets/imgs/bowtie.png) no-repeat 50% 0;
	background-size: cover;
}
@media screen and (min-width : 768px) {
	.home .hat {
		width: 165px;
		height: 103px;
	}
	.home .name {
		font-size: 4em;
	}
	.home .occupation {
		font-size: 1.23em;
	}
	.home .tie {
		background: url(/assets/imgs/tie.png) no-repeat 50% 0;
		background-size: contain;
		width: 125px;
		height: 125px;
	}
}
/* - Shake Directive - */
@keyframes shake {
  0% {transform: translateX(0);}
  12.5% {transform: translateX(-6px) rotateY(-5deg)}
  37.5% {transform: translateX(5px) rotateY(4deg)}
  62.5% {transform: translateX(-3px) rotateY(-2deg)}
  87.5% {transform: translateX(2px) rotateY(1deg)}
  100% {transform: translateX(0)}
}
.shake {
  animation: shake 400ms ease-in-out;
}
/* - end Shake Directive - */
/* - end Home - */

/* - Search Page - */
.search {
	background: #8000FF;
}
.search h2 {
	margin: 0;
	padding: 20px 0;
	font-family: 'CodeProRegular', Helvetica, Arial, sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.search input {
	display: block;
	width: 80%;
	height: 30px;
	margin: 0 auto;
  font-size: 30px;
  text-align: center;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 10px;
}
.search input:focus {
	outline: none;
}
.search .search-result {
	width: 90%;
	min-height: 0;
	margin: 50px auto 0;
	font-family: 'CodeProLight';
	font-weight: 600;
	font-size: 30px;
	-webkit-transition: height .5s ease-in-out;
	-moz-transition: height .5s ease-in-out;
	-ms-transition: height .5s ease-in-out;
	transition: height .5s ease-in-out;
}
.search .search-result p {
	padding: 0 20px;
	overflow-wrap: break-word;
}
.search .search-result p a:hover {
	text-shadow: 0 0 4px #000;
}
.search .search-result p a:active {
	text-shadow: 0 0 20px #000;
}
.search .search-result p a:visited {
	text-shadow: none;
}
@media screen and (min-width : 1024px) {
	.search input {
		width: 50%;
		height: 50px;
	}
	.search .search-result {
		width: 40%;
		font-size: 50px;
	}
}
@media only screen and (max-height : 350px) {
	.search h2 {
		padding: 10px 0;
	}
	.search .search-result {
		margin: 0 auto;
	}
	.search .search-result p {
		margin: 15px 0 !important;
	}
}
/* - end Search Page - */

/* - Stimuli Page - */
.stimuli {
	background: #0080FF;
}
.stimuli .stimuli-list {
	position: relative;
	width: 80%;
	margin: 0 auto;
	padding: 60px 20px 0;
}
.stimuli .stimuli-item {
	float: left;
	width: 100%;
	height: auto;
	padding: 0 0 10px;
	list-style: none;
	border: none;
}
.stimuli .stimuli-item img {
	width: 95%;
	height: auto;
	margin: 0 auto;
	border-radius: 30px;
}
@media only screen and (min-width : 600px) {
	.stimuli .stimuli-item {
		width: 50%;
	}
}
@media only screen and (min-width : 900px) {
	.stimuli .stimuli-item {
		width: 33.3333333%;
	}
}
@media only screen and (min-width : 1300px) {
	.stimuli .stimuli-item {
		width: 25%;
	}
}
/* - end Stimuli Page - */