body.ui-mobile-viewport, div.ui-mobile-viewport {
	margin: 0;
	background-color: #000 !important;
	font-family: Tahoma, Arial, sans-serif;
	font-weight: 100;
	color: #fff !important;
	height: 101%;
}

a {
	text-decoration: none;
	color: #fff;
}

/* LANDING */
#landing {
	display: none;
}

.my-header {
	margin: 1.5em auto;
	display: table;
	text-align: center;
	padding: 10% 10%;
}

.my-header .my-name {
	display: inline-block;
	border-bottom: 1px solid white;
	font-size: 3em;
	font-weight: 100;
}

.my-header .my-position {
	display: block;
	margin-top: 0.2em;
	font-size: 1.15em;
	font-weight: lighter;
}

.my-header .my-contacts {
	padding-top: 0.5em;
}

.my-header .my-contacts a {
	display: inline-block;
	font-size: 2em;
}

.my-header .my-contacts a i {
	color: #ffffff;
}

.my-header .my-contacts a.my-instagram i {
	padding: 0 10px;
}

.my-header .my-contacts a.my-linkedin i {
	font-size: 1.1em;
}

.my-center .my-section {
	height: 2.5em;
	line-height: 2.5em;
	margin-bottom: 0.3em;
	padding: 0 1.4em;
	font-size: 1.5em;
}

.my-center .my-section span {
	display: inline-block;
}

.my-center .my-section.front {
	background-color: #8000FF;
}

.my-center .my-section.back {
	background-color: #0080FF;
}

.my-center .my-section.projects {
	background-color: #FF0080;
}

.my-center .my-section .title {
	float: left;
	letter-spacing: 2px;
}

.my-center .my-section .my-arrow {
	float: right;
	top: 50%;
	transform: translateY(-50%);
	text-shadow: 1px 1px #555;
}

.my-footer {
	display: none;
}
/* END LANDING */

/* PAGES */
.my-section-pages {
	color: #fff;
	text-align: center;
	line-height: 100%;
}

#front {
	background-color: #8000FF;
}

#back {
	background-color: #0080FF;
}

#projects {
	background-color: #FF0080;
}

.page-footer {
	position: absolute;
	bottom: 0;
	height: 20%;
}
/* END PAGES */

/* jQuery Mobile CSS Overrides */
.ui-content.my-center {
	padding: 0;
}

@media screen and (orientation: landscape) {
	.container {
		width: 100%;
	}

	.container,
	.my-header {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.my-header {
		float: left;
		width: 60%;
		margin: 0;
		padding: 0;
	}

	.my-center {
		position: relative;
		float: right;
		width: 40%;
	}

	.my-center .my-section {
		padding: 0 1.2em;
		border-top-left-radius: 2.5em;
		border-bottom-left-radius: 2.5em;
	}

	.my-center .my-section .my-arrow {
		margin-left: 2em;
	}

	.my-footer {
		display: none;
	}
}

@media only screen and (min-width : 768px) {

	.my-header .my-position {
		font-size: 1.34em;
	}

	.my-header .my-contacts .my-email i,
	.my-header .my-contacts .my-instagram i,
	.my-header .my-contacts .my-linkedin i {
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
		-ms-transition: color 0.3s;
		-o-transition: color 0.3s;
		transition: color 0.3s;
	}

	.my-header .my-contacts .my-email i:hover {
		color: rgba(0,114,177,1);
	}

	.my-header .my-contacts .my-instagram i:hover {
		color: rgba(81,127,164,1);
	}

	.my-header .my-contacts .my-linkedin i:hover {
		color: rgba(0,123,182,1);
	}

	.my-center .my-section {
		float: right;
		width: 80%;
		opacity: 0.8;
		-webkit-transition: width 0.5s;
		-moz-transition: width 0.5s;
		-ms-transition: width 0.5s;
		-o-transition: width 0.5s;
		transition: width 0.5s;
	}

	.my-center .my-section:hover {
		width: 89%;
		opacity: 1;
	}

	.my-center .my-section .my-arrow {
		display: none;
		-webkit-transition: box-shadow 0.3s;
		-moz-transition: box-shadow 0.3s;
		-ms-transition: box-shadow 0.3s;
		-o-transition: box-shadow 0.3s;
		transition: box-shadow 0.3s;
	}

	.my-center .my-section .my-arrow:hover {
		box-shadow: inset 0px 0px 50px rgba(255,255,255,0.5);
	}
	
}