<div class="snap-slider"></div>

<!-- // HOMEPAGE \\ -->
<div class="container home">

	<!-- *** Main Content *** -->
	<div class="vertical-align-wrapper">
		<div class="hat"></div>
		<span class="name">sun lee</span>
		<span class="occupation">Fullstack Developer</span>					
		<div class="tie"></div>
	</div>
	<!-- *** End Main Content *** -->

	<!-- *** Next Page Slider *** -->
	<div class="navigator bottom-align-wrapper">
		<a class="nav-search" href="/search">search</a>
	</div>
	<!-- *** End Next Page Slider *** -->

</div>
<!-- // END HOMEPAGE \\ -->