<!-- *** MAIN CONTENT *** -->
<div class="container navigator">
	<div class="vertical-align-wrapper">
		<a href="/navigator/search" class="nav search">
			<span class="title">search</span>
			<!-- <span class="arrow"><a href="/navigator/search"><span class="ui-icon ui-icon-arrow-l ui-icon-shadow"></span></a></span> -->
		</a>
		<a href="/navigator/stimuli" class="nav stimuli">
			<span class="title">stimuli</span>
			<!-- <span class="arrow"><a href="/navigator/sides"><span class="ui-icon ui-icon-arrow-l ui-icon-shadow"></span></a></span> -->
		</a>
		<a href="/navigator/sides" class="nav sides">
			<span class="title">sides</span>
			<!-- <span class="arrow"><a href="/navigator/sides"><span class="ui-icon ui-icon-arrow-l ui-icon-shadow"></span></a></span> -->
		</a>
	</div>
</div>
<!-- *** END MAIN CONTENT *** -->