<div class="snap-slider"></div>

<!-- // STIMULI PAGE \\ -->
<div class="container stimuli">
	<div class="navigator top-align-wrapper">
		<a class="nav-search" href="/search">search</a>
	</div>
	<div class="wrapper">
		<ul class="stimuli-list">
			<!-- <li class="stimuli-item" ng-repeat="src in srcs"><img src="{{src.url}}" async/></li> -->
			<li class="stimuli-item"><img src="/assets/gifs/namesforchange.gif" async/></li>
			<!-- <li class="stimuli-item" ng-repeat="src in srcs" style="background-image: url({{src.url}});"></li> -->
		</ul>
	</div>
</div>
<!-- // END STIMULI PAGE \\ -->